*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;

    --background1: linear-gradient(to top, #070b13, #121b2e);
    --background2: #35363a;
    --background3: #070b13;
    --primary: #9e3232;
    --secondary: #121b2e;
    --special: #e9c240;
    --spare: #c3c9d6;

    --header1 : 7rem;
    --header2 : 3.5rem;
    --header3 : 2.3rem;
    --small : 1.7rem;
}

body {
    background: var(--background3);
    color: var(--primary);
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

p {
    font-size: var(--small);
}

.color {
    width: 100%;
    height: 30px;
    border-radius: 0px;
    background: var(--special);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: 150px;
    height: 55px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top {
    position: absolute;
    background: var(--spare);
    top: -1%;
    width: 100%;
    height: 71%;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .4s;
}

.top p {
    transition: all .4s;
}

.bottom {
    position: absolute;
    background: var(--spare);
    bottom: -1%;
    width: 100%;
    height: 31%;
    border-radius: 0 0 10px 10px;
    transition: all .4s;
}

.bottom::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 60%;
    height: 2px;
    background: var(--primary);
    transition: all .2s;
}

.box:hover .bottom::before {
    transform: translate(-50%, 380%);
    box-shadow: 0 0 20px none;
}

.box:hover .top{
    transform: translateY(-65%);
}

.box:hover .top p {
    text-shadow: 0 0 20px none;
}

.box:hover .color {
    height: 30px;
    transition: all .4s;
}

.colors {
    height: 30px;
    width: 150px;
}

.color1_1 {background: #001B2E;}
.color1_2 {background: #203644;}
.color1_3 {background: #D26E33;}
.color1_4 {background: #754541;}

.color2_1 {background: #DDFFD9;}
.color2_2 {background: #ECC8AE;}
.color2_3 {background: #D7907B;}
.color2_4 {background: #6C4B5E;}

.color3_1 {background: #967D69;}
.color3_2 {background: #92B9BD;}
.color3_3 {background: #A8D4AD;}
.color3_4 {background: #F2F79E;}