/* reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 1 rem = 10 pixels */
html {
  font-size: 62.5%;
  font-family: 'PT Mono', monospace;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

/* Variables */
html {
  /* --header1 : calc(4rem + 1vw);
  --header2 : calc(2rem + 1vw);
  --small : calc(0.2rem + 1vw); */
  --header1 : 7rem;
  --header2 : 4rem;
  --header3 : 2.3rem;
  --small : 1.7rem;
}
html.light {
  --background : #ffffff;
  --primary : #3F3F3F;
  --secondary : #616161;
  --tertiary : #979797;
  --special : #b94545;
  --hover : #eeda2b;
  --circle-case: #aaaaaa;
  --circle: white;
}
html.dark {
    --background : #31313a;
    --primary : #f1f1f1;
    --secondary : #e9e9e9;
    --tertiary : #dddddd;
    --special : #e74e4e;
    --hover : #eeda2b;
    --special2: #d1a06885;
    --circle-case: #aaaaaa;
    --circle: #333333;
}

body {
  background: var(--background);
}

h1 {
  font-size: var(--header1);
  color: var(--primary);
}
h2 {
  font-size: var(--header2);
  color: var(--secondary);
}
h3 {
  font-size: var(--header3);
  color: var(--secondary);
}
p {
  font-size: var(--small);
  color: var(--secondary);
}
a {
  text-decoration: none;
  color: var(--special);
}
a:hover {
  color: var(--secondary);
}
button {
  all: unset;
  cursor: pointer;
  color: var(--secondary);
}
button.type1 {
  color: var(--special);
}
button.type1:hover {
  color: var(--secondary);
}
button.type2:hover {
  color: var(--special);
}
.hidden {
  display: none !important;
}

.decoration1 {
  color: var(--special2);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 2rem;
  width: 100vw;
}
.header{
  flex: 1 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 3rem;
}
.main{
  flex:1 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
}
.subtitleContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.mainsub{
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: auto;
}

.detailsSep {
  margin: 1rem 0 1rem 0;
}

.detailsWindow {
  max-width: 100rem;
}
.detailsInside {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  align-items: flex-start;
  flex-wrap: wrap;
}
.detailsImage {
  flex: 1 1;
  max-width: 50rem;
  min-width: 50vw;
}
.detailsContent {
  flex: 1 1;
}